.new-detail{
    width: 100%;
    height:100vh;
    background: #f0f0f0;
}
.commentCont{
    width: 100%;
    box-sizing: border-box;
    padding: 0 32rpx;
    padding-right: 0;
    background:#fff;
    overflow: hidden;
    .commentTitle{
        font-size:30rpx;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(29,36,56,1);
        line-height:42rpx;
        margin-top:30rpx;
        margin-bottom:30rpx;
        i{
            display: inline-block;
        }
    }
    .listCont{
        .listItem{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-top:34rpx;
            .leftCont{
                min-width: 64rpx;
                min-height:64rpx;
                margin-right: 12rpx;
                border-radius: 50%;
                overflow: hidden;
                img{
                    display: block;
                    width: 64rpx;
                    height: 64rpx;
                }
            }
            .rightCont{
                width: 100%;
                .topInfo{
                    .userName{
                        font-size:26rpx;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(29,36,56,1);
                    }
                    .dispatchTime{
                        font-size:22rpx;
                        font-family:PingFangSC-Regular;
                        font-weight:400;
                        color:rgba(145,149,159,1);
                    }
                }
                .bottomCont{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    font-size:30rpx;
                    font-family:PingFangSC-Regular;
                    font-weight:400;
                    color:rgba(29,36,56,1);
                    line-height:42rpx;
                    padding-top:24rpx;
                    padding-bottom: 34rpx;
                    border-bottom: 1px solid #E1E6EB;
                    box-sizing: border-box;
                    padding-right:24px;
                    .bottomInfo{
                        width:100%;
                    }    
                    .thumbsBtn{
                        box-sizing: border-box;
                        min-width: 100rpx;
                        padding-left:30rpx;
                        display: flex;
                        justify-items: center;
                        align-items: center;
                        img{
                            display: inline-block;
                            width: 46rpx;
                            height:42rpx;
                        }
                        span{
                            font-size:24rpx;
                            font-family:Helvetica;
                            color:rgba(128,136,146,1);
                            line-height:28rpx;
                            margin-left:6rpx;
                        }
                    }
                }
                // .bottomInfo{
                //     font-size:30rpx;
                //     font-family:PingFangSC-Regular;
                //     font-weight:400;
                //     color:rgba(29,36,56,1);
                //     line-height:42rpx;
                //     padding-top:24rpx;
                //     padding-bottom: 34rpx;
                //     border-bottom: 1px solid #E1E6EB;
                //     box-sizing: border-box;
                //     padding-right:24px;
                // }
            }
        }
        .listItem:last-child{
            .rightCont{
                .bottomInfo{
                    border-bottom: none;
                }
            }
        }
    }  
}
.endBox{
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    background: #f0f0f0;
    text-align: center;
    font-size: 28rpx;
    color: #999;
}
.blank{
    height: 98rpx;
}
.noData{
    text-align:center;
    img{
        display: block;
        width: 242rpx;
        height: 200rpx;
        margin: 0 auto;
        margin-top:82rpx;
    }
    .asideWord{
        width: 100%;
        font-size:24rpx;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(128,136,146,1);
        line-height:34rpx;
        margin-top:38rpx;
        padding-bottom: 118rpx;
    }
}
.footDispatch{
    width:100%;
    height: 98rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    box-sizing: border-box;
    padding:0 20rpx;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 12px 0px rgba(53,64,82,0.19);
    overflow: hidden;
    opacity: 0.95;
    border:1px solid #fff;
    input{
        display: block;
        width: 100%;
        height: 100%;
        line-height: 98rpx;
        font-size:28rpx;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(145,149,159,1);
        padding-right:10rpx;
        box-sizing: border-box;
    }
    .anonymousBtn{
        min-width: 156rpx;
        height:48rpx;
        background:rgba(255,255,255,1);
        border-radius:28px;
        border:1px solid rgba(187,190,194,1);
        font-size: 24rpx;
        color:rgba(145,149,159,1);
        margin-left:21rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right:16rpx;
        .checkbox{
            display: flex;
            justify-content: center;
            align-items: center;
            .checkBtn{
                display: block;
                width:28rpx;
                height:28rpx;
                background:rgba(255,255,255,1);
                border-radius:28rpx;
                margin-right:12rpx;
                border:1px solid rgba(145,149,159,1);
                overflow: hidden;
                box-sizing: border-box;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .dispatchBtn{
        min-width: 134rpx;
        height: 64rpx;
        text-align: center;
        line-height: 64rpx;
        background:linear-gradient(34deg,rgba(255,120,73,1) 0%,rgba(255,65,120,1) 100%) rgba(255,255,255,0.42);
        border-radius:32rpx;
        font-size:28rpx;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(255,255,255,1);
    }
}